# URL da API do backend
VITE_BACKEND_URL=

# Feature Flag: Exibe aviso informando que os preços estão sujeitos a alterações antes do evento
# Valores aceitos: 'true' (padrão) ou 'false'
VITE_SHOW_PRICE_DISCLAIMER=true

# Google API key for using Maps
VITE_GOOGLE_MAPS_API_KEY=